.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.logo-header {
  width:18px;
  height:18px;
  border: 1px #ffffff solid;
}

.main-table {
  width:85%;
  margin:auto;
  background-color: #f6f6ef;
}
