<table>
  <tbody class="font13-black">
    <td style="width:18px;padding-right:4px">
      <a href="/">
        <img class="logo-header" src="https://news.ycombinator.com/y18.gif">
      </a>
    </td>
    <td style="width:1192px">
      <b><a href="http://127.0.0.1:9393/">Hacker News</a></b>

      <a href="">new</a>
      |
      <a href="">comments</a>
      |
      <a href="">ask</a>
      |
      <a href="/create">submit</a>
    </td>
    <td class="login-link-right">
      <% if logged_in? %>
        <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>
        |
        <a href="/logout">logout</a>
      <% else %>
        <a href="/login">login</a>        
      <% end %>
    </td>
  </tbody>
</table>


