<div class="main-table-wrapper">
  <table class="main-table">
    <tbody>
      <tr>
        <td class="orange_header_td">
          <%= erb :_header %>
        </td>
      </tr>
      <tr style="height:10px"></tr>
      <tr>
        <td>
          <form action="/posts" method="POST">
            <table>
              <tbody class="font13-gray">
                <tr>
                  <td>title</td>
                  <td><input class="simpletext_input" type="text" name="post[title]"></td>
                </tr>
                <tr>
                  <td>url</td>
                  <td><input class="simpletext_input" type="text" name="post[url]"></td>
                </tr>
                <tr>
                  <td></td>
                  <td><b>or</b></td>
                </tr>
                <tr>
                  <td>text</td>
                  <td><textarea name="post[text]" rows="4" cols="50"></textarea></td>
                </tr>
                <tr>
                  <td></td>
                  <td><input type="submit" value="submit"></td>
                </tr>
                <tr style="height:20px"></tr>
                <tr>
                  <td></td>
                  <td>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the comments page. If there is a url, the text will be ignored.</td>
                </tr>
              </tbody>
            </table>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="main_table_width">
    <% if @errors %>
      <% @errors.each do |message| %>
        <p style="color:red"><%= message %></p>
      <% end %>
    <% end %>
  </div>
</div>

