<div class="container">
  <table>
    <tbody>
      <!-- header -->
      <tr><h1>Posts!</h1></tr>
      <!-- break between header and table of posts -->
      <tr style="height:10px"></tr>
      <!-- table of posts -->
      <tr>
        <td>
          <table>
            <tbody>
              <!-- 3 trs for each post -->
              <% num = 1 %>
              <% @posts.each do |post| %>
              <!-- first tr for title -->
              <tr>
                <td><%= num %></td>
                <td>*</td>
                <td><a href="<%= post.url %>"><%= post.title %></a></td>
              </tr>
              <!-- second tr for time created, and link to comments -->
              <tr>
                <td colspan="2"></td>
                <td class="subtext">
                  by <a href="/"><%= post.user.username %></a>
                  | <a href="/">discuss</a>
                </td>
<!--                 <td colspan="3">Placeholder for time created and link to comments</td> -->
              </tr>
              <!-- third tr for break between posts -->
              <tr style="height:5px"></tr>
              <% num += 1 %>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <!-- footer -->
      <tr></tr>
    </tbody>
  </table>
</div>
