<div class="main-table-wrapper">
  <table class="main-table">
    <tbody>
      <tr>
        <td class="orange_header_td">
          <%= erb :_header %>
        </td>
      </tr>
      <tr style="height:10px"></tr>
      <tr>
        <td>
          <table class="font13-gray">
            <tbody>
              <tr>
                <td>user:</td>
                <td><%= @user.username %></td>
              </tr>
              <tr>
                <td>created:</td>
                <td></td>
              </tr>
              <tr class="font13-black">
                <td></td>
                <td>
                  <a class="hover_underline" href="/users/<%= @user.id %>/posts">posts</a>
                </td>
              </tr>
              <tr class="font13-black">
                <td></td>
                <td>
                  <a class="hover_underline" href="/users/<%= @user.id %>/comments">comments</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
